.single-coupon .single-content {
    background: #fff;
    padding: 50px 15px;
    border-radius: 5px;
    margin-top: 50px;
}
.newsletter-custom-form  {
    max-width: 600px;
    margin: 50px auto;
}
.newsletter-custom-form h4 {
	font-size:18px;
}
.newsletter-custom-form  label.mailpoet_text_label {
    font-family: inherit;
    font-size: 20px;
}
.newsletter-custom-form  input.mailpoet_submit {
    border: 0;
    box-shadow: none;
    background: #212529;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.newsletter-custom-form  input.mailpoet_text {
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #aab8c2;
    width: 100% !important;
    max-width: unset;
}
.newsletter-custom-form  input.mailpoet_submit:hover {
    background: #f8991d;
}
.single-coupon {
    margin-bottom: 100px;
}
.items-loop {
    margin-bottom: 50px;
}
.brand-page {
	border: 1px solid rgba(20, 23, 26, 0.1);
	padding:15px;
		background:#fff;
	text-align:center;
	border-radius:3px;
}
.brand-image img {
    max-width: 100%;
    border-radius: 3px;
}
.brand_title h1 {
    font-weight: bold;
    text-transform: capitalize;
}
.brand_description p {
    color: rgba(33, 37, 41, 0.5);
}
.brand-image,
.brand_title,
.brand_description {
    margin-bottom: 25px;
}
span.exclusive {
    float: right;
    font-weight: bold;
    font-size: 24px;
    padding: 3.6px 10px;
    color: #f8991d;
}
.items-loop .item.brand-box .top .rate {
    height: 100%;
}
.items-loop .item.brand-box .middle h2 {
    padding: 30px 10px 10px;
	text-align:left;
}
.items-loop .item.brand-box .bottom {
    padding: 0;
}
.items-loop .item .top {
    padding: 0;
}
.items-loop .item.brand-box .top .rate {
    padding: 30px 10px 10px;
}
.items-loop .item.brand-box .top span {
    padding: 30px 10px 10px;
}
.items-loop .item.brand-box .bottom a {
    margin-bottom: 0px;
}
.items-loop .item.brand-box .bottom .expire {
    margin-bottom: 5px;
    display: block;
    margin-top: 5px;
}
div#nav-tabContent {
    width: 100%;
    margin-bottom: 25px;
}
a {
    color: #f8991d;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 25px;
}
.tax-brands .items-loop nav {
    width: 100%;
    display: block;
}
.items-loop .nav-tabs .nav-link {
    font-weight: bold;
}

.middle p {
    text-align: left;
    color: rgba(33, 37, 41, 0.5);
    font-size:14px;
}
.brand_description p {
    color: rgba(33, 37, 41, 0.5);
    text-align: left;
}
.items-loop .item.brand-box .top span {
    float: left;
}
.items-loop .item.brand-box .middle h2 {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}
.item.brand-box  span.exclusive {

    float: left;
    margin-top: 11px;
    padding: 0;
    position: relative;
    top: 5px;
    padding-right: 5px;
}
@media only screen and (max-width: 770px) {
.items-loop .item .bottom a .coupon {
    padding: 10px;
}
.items-loop .item .top .user,
span.exclusive{
    display: none !important;
}
.brand-page {
    margin-bottom: 50px;
}
div#nav-tabContent {
    padding: 15px;
}
.items-loop .item .bottom a {
    margin: 0;
}
.items-loop .item .middle h2 {
    font-size: 16px;
}

.items-loop .brand-box  .bottom a .coupon {
    font-size: 16px;
    margin: 10px 5px;
}
.items-loop .item {
    background: #fff;
    margin-bottom: 15px;
    border: 1px solid rgba(20, 23, 26, 0.1);
}
}


