@media only screen and (max-width: 770px) {
  .main-header .mobile-button {
    display: inline-block;
    position: relative;
    top: 10px; }
    .main-header .mobile-button button:focus {
      outline: none; }

  button.navbar-toggler i {
    color: #000000 !important; }

  .main-footer .social-icons {
    text-align: center; }
    .main-footer .social-icons ul li {
      float: none; }

  .main-footer .copyrights p {
    text-align: center; }

  div#navbarSupportedContent {
    position: absolute;
    top: 15px;
    z-index: 999;
    left: 0;
    right: 0;
    background: #000000;
    padding: 15px; }
    div#navbarSupportedContent a {
      font-size: 16px; }
      div#navbarSupportedContent a:hover {
        color: #f8991d; }

  nav.navbar.navbar-expand-lg.float-right {
    position: absolute;
    left: 0;
    right: 0; }

  .main-header .navbar .dropdown-menu {
    width: 100%;
    background: unset;
    border-radius: 5px; }
    .main-header .navbar .dropdown-menu a {
      background: #fff; } }

/*# sourceMappingURL=responsive.css.map */
