/*
Theme Name: Coupon Cards
Version: 1.0
Description: <strong>A Wordpress coupons generator theme. It's created to help you make your site easily base on the powerful customize of WordPress. Designed & Developed With Care by Devolum Team</strong> - <a href="https://devolum.com/">www.devolum.com</a>.
Author: Devolum Team
Author URI: https://devolum.com/
Tags: two-columns, left-sidebar, right-sidebar, custom-menu, featured-images, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
Theme URI: https://goo.gl/XB61Yw
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: coupons
*/
/*-----------------------------------------------*/
/*WordPress Core*/
/*-----------------------------------------------*/
blockquote {
  border-color: #CD483C;
  z-index: 10;
  position: relative;
  background: #f7f7f7;
  border: 0;
}
blockquote p {
  z-index: 10;
}
blockquote:before {
  content: '\f10d';
  font-family: fontawesome;
  font-size: 70px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(173, 173, 173, 0.16);
  line-height: 64px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  z-index: -1;
}
blockquote:after {
  content: '\f10e';
  font-family: fontawesome;
  font-size: 70px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: rgba(173, 173, 173, 0.16);
  line-height: 64px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  z-index: -1;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignnone {
  margin: 20px 20px 20px 0;
}
.alignright {
  float: right;
  margin: 20px 0 5px 20px;
}
a img.alignright {
  float: right;
  margin: 20px 0 5px 20px;
}
.alignleft {
  float: left;
  margin: 20px 20px 5px 0;
}
a img.alignleft {
  float: left;
  margin: 20px 20px 5px 0;
}
a img.alignnone {
  margin: 20px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  max-width: 100%;
  padding: 10px;
}
.wp-caption.alignright,
.story img.alignright {
  float: right;
  max-width: 320px;
  margin: -10px 0 10px 20px;
}
.wp-caption.alignleft {
  float: left;
  max-width: 320px;
  margin: 0 20px 10px 0;
}
.wp-caption p.wp-caption-text {
  padding: 10px 5px 5px;
  margin: 0;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
.gallery-item {
  padding: 5px;
}
.gallery-caption {
  background: #f2f2f2;
  padding: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 10px;
}
pre {
  padding: 0;
  background: none;
  border: none;
}
.t,
.main-header .navbar a,
.items-loop .item .bottom a .coupon,
.single-coupon .single-content .content .coupon button,
.single-coupon .single-content .share ul li a i {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
html,
body {
  font-family: 'PT Sans', sans-serif;
  background: #f5f8fa;
}
a:hover {
  text-decoration: none;
}
.main-header {
  background: linear-gradient(50deg, #87cc51, #159f86);
  color: #fff;
  padding: 10px 0px 15px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.main-header .logo {
  display: inline-block;
}
.main-header .logo a {
  color: #fff;
}
.main-header .logo a h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}
.main-header .logo p {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0px;
}
.main-header .mobile-button {
  float: right;
  display: none;
}
.main-header .mobile-button i {
  font-size: 30px;
  color: #fff;
}
.main-header .navbar a {
  color: #fff;
  font-size: 18px;
}
.main-header .navbar a:hover {
  color: #14171a;
}
.main-header .navbar .dropdown-menu {
  right: 0;
  left: unset;
  width: 515px;
  border: none;
  -webkit-box-shadow: 0 4px 31px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 31px rgba(0, 0, 0, 0.2);
}
.main-header .navbar .dropdown-menu a {
  color: #14171a;
  display: inline-block;
  float: left;
  width: 170px;
  clear: unset;
}
.single .brands-serach {
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.brands-serach {
  background: #fff;
  padding-top: 50px;
}
.brands-serach .text-intro {
  max-width: 330px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.brands-serach .text-intro h2 {
  font-size: 30px;
  font-weight: bold;
}
.brands-serach .text-intro p {
  font-size: 17px;
  color: #aab8c2;
}
.brands-serach .serach-box {
  max-width: 500px;
  margin: 0 auto;
}
.brands-serach .serach-box label {
  width: 100%;
  position: relative;
}
.brands-serach .serach-box label input {
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid rgba(20, 23, 26, 0.2);
  width: 100%;
  color: rgba(20, 23, 26, 0.5);
}
.brands-serach .serach-box label input:focus {
  outline: none;
}
.brands-serach .serach-box label:after {
  content: "\f002";
  font-family: 'Font Awesome\ 5 Free';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  top: 18px;
  right: 20px;
  font-size: 20px;
  color: rgba(20, 23, 26, 0.5);
}
.brands {
  background: #fff;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.brands .items ul li {
  display: inline-block;
  float: left;
}
.brands .items ul li a img {
  width: 130px;
}
.items-loop {
  margin-bottom: 20px;
}
.items-loop .heading {
  margin-bottom: 50px;
}
.items-loop .heading h2 {
  font-size: 24px;
  font-weight: bold;
}
.items-loop .item {
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid rgba(20, 23, 26, 0.1);
}
.items-loop .item .top {
  clear: both;
}
.items-loop .item .top span {
  display: inline-block;
}
.items-loop .item .top .rate {
  background: #f8991d;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  padding: 2.5px 10px;
  margin-right: 10px;
}
.items-loop .item .top .user {
  color: #aab8c2;
}
.items-loop .item .middle {
  clear: both;
  text-align: center;
}
.items-loop .item .middle img {
  margin: 0 auto;
  max-width: 100%;
}
.items-loop .item .middle h2 {
  font-size: 24px;
  font-weight: bold;
}
.items-loop .item .bottom {
  clear: both;
  text-align: center;
  padding-bottom: 20px;
}
.items-loop .item .bottom a {
  display: block;
  position: relative;
  margin: 20px 30px 10px;
}
.items-loop .item .bottom a .coupon {
  position: relative;
  z-index: 99;
  background: #f8991d;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.items-loop .item .bottom a .coupon:after {
  content: '';
  background: url(../images/button.png) no-repeat right top;
  height: 23px;
  width: 18px;
  position: absolute;
  top: 0px;
  right: 0;
}
.items-loop .item .bottom a .coupon:hover {
  background: #14171a;
}
.items-loop .item .bottom .expire {
  text-align: center;
  font-size: 10px;
  color: #aab8c2;
}
.main-footer {
  padding: 40px 0 25px;
  background: #fff;
}
.main-footer .copyrights p {
  color: #14171a;
  font-size: 16px;
}
.main-footer .copyrights p a {
  color: #f8991d;
}
.main-footer .social-icons ul {
  margin: 0;
  padding: 0;
}
.main-footer .social-icons ul li {
  display: inline-block;
  float: right;
}
.main-footer .social-icons ul li a {
  display: block;
  padding: 0px 10px;
  font-size: 25px;
}
.main-footer .social-icons ul li a i {
  color: #14171a;
}
.main-footer .social-icons ul li:hover i {
  color: #f8991d;
}
.single-coupon {
  margin-bottom: 50px;
}
.single-coupon .single-content {
  background: #fff;
  padding: 50px 15px;
  border-radius: 5px;
}
.single-coupon .single-content .heading {
  text-align: center;
}
.single-coupon .single-content .heading h1 {
  font-weight: bold;
}
.single-coupon .single-content .heading p {
  color: #aab8c2;
}
.single-coupon .single-content .heading p i {
  margin-right: 5px;
}
.single-coupon .single-content .heading p span {
  color: #f8991d;
  margin-right: 30px;
}
.single-coupon .single-content .heading p span a {
  color: #f8991d;
}
.single-coupon .single-content .content .coupon {
  border: 2px dashed #aab8c2;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 600px;
  margin: 50px auto 20px;
  border-radius: 5px;
}
.single-coupon .single-content .content .coupon button {
  background: none;
  border: none;
  cursor: pointer;
}
.single-coupon .single-content .content .coupon button:focus {
  outline: none;
}
.single-coupon .single-content .content .coupon button i {
  color: #aab8c2;
}
.single-coupon .single-content .content .coupon button:hover i {
  color: #f8991d;
}
.single-coupon .single-content .share {
  text-align: center;
}
.single-coupon .single-content .share span {
  font-size: 20px;
  font-weight: bold;
  color: #aab8c2;
}
.single-coupon .single-content .share ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.single-coupon .single-content .share ul li {
  display: inline-block;
  margin: 5px;
}
.single-coupon .single-content .share ul li a i {
  font-size: 30px;
  color: #fff;
  background: #f5f8fa;
  width: 100px;
  height: 50px;
  border-radius: 3px;
  line-height: 50px;
  border: 1px solid #e1e8ed;
}
.single-coupon .single-content .share ul li a i:hover {
  background: #f8991d;
  color: #fff;
}
.single-coupon .single-content .share ul li a .fa-facebook-f {
  color: #3b5998;
}
.single-coupon .single-content .share ul li a .fa-twitter {
  color: #1da1f2;
}
.widget_blog_subscription {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #F6F6F2;
  border-radius: 10px;
  margin-bottom: 50px;
}
.widget_blog_subscription:after,
.widget_blog_subscription:before {
  content: '';
  width: 100%;
  height: 10px;
  display: block;
  background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 15px, transparent 15px, transparent 25px, #83B3DB 25px, #84ADCB 40px, transparent 40px, transparent 50px);
}
.widget_blog_subscription p {
  margin: 0;
  text-align: left;
}
.widget_blog_subscription p:first-child {
  margin: 30px 30px 15px;
  color: #83B3DB;
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  letter-spacing: 1px;
}
.widget_blog_subscription #subscribe-blog:before {
  content: '>>>>>';
  width: auto;
  height: auto;
  display: block;
  border: 2px solid rgba(242, 155, 145, 0.5);
  padding: 4px;
  position: absolute;
  top: 36px;
  right: -30px;
  color: rgba(242, 155, 145, 0.5);
  font-size: 28px;
  transform: rotate(17deg);
  font-weight: 400;
  text-decoration: underline;
  border-radius: 10px;
}
.widget_blog_subscription #subscribe-blog:after {
  content: '&';
  width: 50px;
  height: 50px;
  display: block;
  border: 4px double rgba(242, 155, 145, 0.5);
  padding: 10px;
  position: absolute;
  bottom: 30px;
  right: -10px;
  color: rgba(242, 155, 145, 0.5);
  font-size: 50px;
  transform: rotate(-30deg);
  font-weight: 400;
  border-radius: 99px;
  text-align: center;
  line-height: 50px;
}
.widget_blog_subscription input[type="text"] {
  margin: 15px 30px;
  color: #999;
  padding: 15px 0 !important;
  text-align: left;
  width: 100% !important;
  max-width: calc(100% - 60px);
  outline: none;
  border: 0;
  font-size: 14px;
  background-color: transparent;
  border-top: 1px solid #83B3DB;
  border-bottom: 1px solid #83B3DB;
}
.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]:-moz-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]::-moz-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="submit"] {
  margin: 15px 35px 25px;
  background-color: #83B3DB;
  color: #fff;
  padding: 14px 18px !important;
  text-align: center;
  width: auto;
  max-width: 70%;
  outline: none;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  box-shadow: 0px 0px 0px 5px #83B3DB;
}
.widget_blog_subscription input[type="submit"]:hover {
  background-color: #F29B91;
  box-shadow: 0px 0px 0px 5px #F29B91;
}
.archive-file {
  padding-top: 70px;
}
.pagePagination {
  padding: 30px 0;
}
.pagePagination ul {
  padding: 0;
  margin: 0;
}
.pagePagination ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.pagePagination ul li a {
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(20, 23, 26, 0.1);
  text-align: center;
  background: #f8991d;
  color: #ffffff;
  line-height: 40px;
  font-weight: bold;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.pagePagination ul li a:hover {
  background: #000;
  color: #fff;
}
.pagePagination ul li.active a {
  background: #fff;
  color: #000;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.no-posts-template {
  height: 80vh;
  padding: 100px 0;
}
.no-posts-template .devo_error {
  font-size: 180px;
  font-weight: bold;
}
.no-posts-template .devo_text_error {
  font-weight: bolder;
  font-size: 18px;
}
.more_posts {
  margin-bottom: 60px;
  text-align: center;
}
.more_posts a {
  background: #f8991d;
  padding: 15px 30px;
  color: #ffffff;
  line-height: 40px;
  font-weight: bold;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  border-radius: 5px;
}
.more_posts a:hover {
  background: #000;
  color: #fff;
}
.post_box {
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid rgba(20, 23, 26, 0.1);
}
.post_box a img {
  margin-bottom: 15px;
}
.post_box a h2 {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #000;
  margin-bottom: 15px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.post_box a h2:hover {
  color: #f8991d;
}
.post_box .meta {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
.post_box .meta span {
  margin-right: 10px;
  display: inline-block;
}
.post_box .meta span i {
  color: #AAB8C2;
}
.post_box .meta span a {
  color: #f8991d;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.post_box .meta span a:hover {
  color: #000;
}
