/**
 *
 * -----------------------------------------------------------
 *
 * Codestar Framework
 * A Lightweight and easy-to-use WordPress Options Framework
 *
 * Copyright 2015 Codestar <info@codestarlive.com>
 *
 * -----------------------------------------------------------
 *
 */
/* @group Base */
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.chosen-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}

.chosen-container a {
    cursor: pointer;
}

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #999999;
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
    content: ":";
    padding-left: 2px;
    vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}

.chosen-container-single .chosen-default {
    color: #999;
}

.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px;
}

.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/chosen-sprite.png") no-repeat 0px 2px;
}

.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: white url("../images/chosen-sprite.png") no-repeat 100% -20px;
    background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
}

.chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}

.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}

.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    cursor: text;
}

.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 0;
    height: 25px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    color: #999;
    font-size: 100%;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}

.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice span {
    word-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    color: #666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
}

.chosen-disabled .chosen-single {
    cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
    text-align: right;
}

.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
}

.chosen-rtl .chosen-single div {
    right: auto;
    left: 3px;
}

.chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
}

.chosen-rtl .chosen-choices li {
    float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
}

.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
    left: 9999px;
}

.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: white url("../images/chosen-sprite.png") no-repeat -30px -20px;
    background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
    direction: rtl;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-image: url("../images/chosen-sprite@2x.png") !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
    }
}

/* @end */
.cs-framework {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}

.cs-framework label {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.cs-framework .cs-settings-error {
    margin: 0 0 15px 0;
}

.cs-framework .cs-header {
    position: relative;
    background-color: #050505;
    padding: 25px;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px 0 0;
}

.cs-framework .cs-header h1 {
    color: #fff;
    float: left;
    font-size: 1.5em;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}

.cs-framework .cs-header h1 small {
    font-size: 11px;
    color: #555;
    font-weight: 500;
}

.cs-framework .cs-header fieldset {
    float: right;
}

.cs-framework .cs-header fieldset input {
    margin: 0 2px;
    line-height: 26px;
}

.cs-framework .cs-body {
    position: relative;
    background-color: #fff;
}

.cs-framework .cs-nav {
    display: block;
    position: relative;
    z-index: 10;
    float: left;
    width: 225px;
}

.cs-framework .cs-nav ul {
    clear: left;
    margin: 0;
    list-style-type: none;
}

.cs-framework .cs-nav ul li {
    margin-bottom: 0;
}

.cs-framework .cs-nav ul li a {
    font-size: 13px;
    position: relative;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #999;
    background-color: #222;
    border-bottom: 1px solid #2f2f2f;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.cs-framework .cs-nav ul li a:hover {
    color: #fff;
}

.cs-framework .cs-nav ul li a:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cs-framework .cs-nav ul li .cs-section-active {
    color: #fff;
    background-color: #111;
}

.cs-framework .cs-nav ul li .cs-section-active:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 50%;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-right-color: #fff;
    border-width: 4px;
    margin-top: -4px;
}

.cs-framework .cs-nav ul li .cs-arrow:after {
    content: "\f054";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 9px;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.cs-framework .cs-nav ul li.cs-tab-active .cs-arrow:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.cs-framework .cs-nav ul ul {
    display: none;
    position: relative;
    border-bottom: 1px solid #2f2f2f;
    position: relative;
}

.cs-framework .cs-nav ul ul li a {
    font-size: 12px;
    padding: 13px 15px 13px 25px;
    background-color: #191919;
    border-bottom: 1px solid #222;
}

.cs-framework .cs-nav ul ul li .cs-section-active {
    background-color: #101010;
}

.cs-framework .cs-nav ul ul li:last-child a {
    border-bottom: 0;
}

.cs-framework .cs-nav ul ul:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
    width: 1px;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.75);
}

.cs-framework .cs-nav .cs-icon {
    width: 20px;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
}

.cs-framework .cs-nav .cs-seperator {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 30px 15px 15px 15px;
    border-bottom: 1px dashed #2f2f2f;
}

.cs-framework .cs-nav-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 225px;
    background-color: #222;
}

.cs-framework .cs-content {
    position: relative;
    margin-left: 225px;
}

.cs-framework .cs-content .cs-sections {
    float: left;
    width: 100%;
}

.cs-framework .cs-content .cs-section-title {
    display: none;
    padding: 20px 30px;
    background-color: #5bc0de;
}

.cs-framework .cs-content .cs-section-title h3 {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(68, 167, 197, 0.5);
}

.cs-framework .cs-content .cs-section {
    display: none;
}

.cs-framework .cs-footer {
    padding: 20px;
    color: #555;
    text-align: right;
    font-size: 11px;
    background-color: #050505;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0;
    border-radius: 0 0 2px 2px;
}

.cs-framework .cs-show-all .cs-nav-background,
.cs-framework .cs-show-all .cs-nav {
    display: none;
}

.cs-framework .cs-show-all .cs-content {
    margin-left: 0;
}

.cs-framework .cs-show-all .cs-section-title,
.cs-framework .cs-show-all .cs-section {
    display: block !important;
}

.cs-framework .cs-expand-all {
    position: absolute;
    right: 40px;
    bottom: 5px;
    z-index: 1;
    color: #555;
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
}

.cs-framework .cs-expand-all:hover {
    color: #fff;
}

.cs-framework .cs-expand-all:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cs-metabox-framework {
    margin: -6px -12px -12px -12px;
}

.cs-metabox-framework .cs-content .cs-section-title {
    padding: 20px;
}

.cs-element {
    position: relative;
    padding: 30px;
}

.cs-element + .cs-element {
    border-top: 1px solid #eee;
}

.cs-element p:last-child {
    margin-bottom: 0 !important;
}

.cs-element:after, .cs-element:before {
    content: " ";
    display: table;
}

.cs-element:after {
    clear: both;
}

.cs-element h4 {
    margin-top: 0;
}

.cs-element .cs-title {
    position: relative;
    width: 25%;
    float: left;
}

.cs-element .cs-title h4 {
    margin: 0;
    color: #23282d;
}

.cs-element .cs-fieldset {
    margin-left: 30%;
}

.cs-element pre {
    clear: both;
    color: #ccc;
    background-color: #222;
    padding: 15px;
    overflow: auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.cs-element pre strong {
    color: #ffbc00;
}

.cs-pseudo-field {
    padding: 0 5px 0 0 !important;
    border: 0;
    display: inline-block;
}

.cs-field-text input {
    width: 340px;
    max-width: 100%;
}

.cs-field-textarea textarea {
    width: 100%;
    max-width: 100%;
    min-height: 125px;
}

.cs-field-textarea .cs-shortcode {
    margin-bottom: 10px;
}

.cs-field-wysiwyg textarea {
    width: 100%;
    max-width: 100%;
    min-height: 125px;
}

.cs-field-wysiwyg .wp-editor-container {
    clear: none;
}

.cs-field-number input {
    width: 70px;
}

.cs-field-number em {
    margin-left: 5px;
    color: #bbb;
}

.cs-field-select select {
    max-width: 100%;
}

.cs-field-typography select,
.cs-field-typography .chosen-container {
    margin-right: 5px;
}

.cs-field-typography .cs-typo-variant {
    min-width: 90px;
}

.cs-field-checkbox ul,
.cs-field-radio ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    max-height: 305px;
}

.cs-field-checkbox .horizontal li,
.cs-field-radio .horizontal li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.cs-field-checkbox input[type="radio"]:checked:before,
.cs-field-radio input[type="radio"]:checked:before {
    line-height: 10px;
}

.cs-field-switcher label {
    display: block;
    float: left;
    cursor: pointer;
    position: relative;
    width: 62px;
    height: 26px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.cs-field-switcher label span {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    -webkit-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.cs-field-switcher label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.cs-field-switcher label input:checked ~ em {
    background: #4fb845;
}

.cs-field-switcher label input:checked ~ em:before {
    opacity: 0;
}

.cs-field-switcher label input:checked ~ em:after {
    opacity: 1;
}

.cs-field-switcher label input:checked ~ span {
    left: 40px;
}

.cs-field-switcher label em {
    position: relative;
    display: block;
    height: inherit;
    font-size: 11px;
    line-height: 26px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    background-color: #ed6f6f;
    -moz-transition: background 0.15s ease-out;
    -o-transition: background 0.15s ease-out;
    -webkit-transition: background 0.15s ease-out;
    transition: background 0.15s ease-out;
}

.cs-field-switcher label em:before, .cs-field-switcher label em:after {
    position: absolute;
    -moz-transition: opacity 0.15s ease-out;
    -o-transition: opacity 0.15s ease-out;
    -webkit-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
}

.cs-field-switcher label em:before {
    content: attr(data-off);
    right: 14px;
}

.cs-field-switcher label em:after {
    content: attr(data-on);
    left: 14px;
    opacity: 0;
}

.cs-field-switcher .cs-text-desc {
    float: left;
    margin-left: 5px;
    margin-top: 0;
    padding-top: 4px;
}

.cs-field-image_select label {
    display: inline-block;
    margin: 5px;
}

.cs-field-image_select label img {
    max-width: 100%;
    vertical-align: bottom;
    background-color: #fff;
    border: 2px solid #eee;
    opacity: 0.75;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.cs-field-image_select input {
    display: none;
}

.cs-field-image_select input:checked ~ img {
    border-color: #333;
    opacity: 1;
}

.cs-field-upload input {
    width: 420px;
    max-width: 100%;
}

.cs-field-background .cs-field-color_picker {
    position: relative;
    top: 10px;
}

.cs-field-color_picker .cs-alpha-wrap {
    display: none;
    position: relative;
    top: -1px;
    width: 235px;
    padding: 9px 10px;
    border: 1px solid #dfdfdf;
    border-top: none;
    background-color: #fff;
}

.cs-field-color_picker .cs-alpha-slider {
    position: absolute;
    width: 190px;
    margin-left: 2px;
    height: 18px;
}

.cs-field-color_picker .cs-alpha-slider .ui-slider-handle {
    position: absolute;
    top: -3px;
    bottom: -3px;
    z-index: 5;
    border-color: #aaa;
    border-style: solid;
    border-width: 4px 3px;
    width: 10px;
    height: 16px;
    margin: 0 -5px;
    background: none;
    cursor: ew-resize;
    opacity: 0.9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.cs-field-color_picker .cs-alpha-slider .ui-slider-handle:before {
    content: " ";
    position: absolute;
    left: -2px;
    right: -2px;
    top: -3px;
    bottom: -3px;
    border: 2px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.cs-field-color_picker .cs-alpha-slider-offset {
    height: 18px;
    width: 200px;
    background: url(../images/checkerboard.png) repeat-y center left scroll #fff;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.cs-field-color_picker .cs-alpha-text {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 30px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #999;
}

.cs-field-backup textarea {
    width: 100%;
    min-height: 200px;
    margin-bottom: 5px;
}

.cs-field-backup small {
    display: inline-block;
    margin: 5px;
}

.cs-field-backup hr {
    margin: 30px 0;
}

.cs-field-fieldset .cs-inner {
    border: 1px solid #eee;
    background-color: #fff;
}

.cs-field-fieldset .cs-element {
    padding: 20px;
}

.cs-field-group .cs-element {
    padding: 20px;
}

.cs-field-group .cs-group {
    display: none;
    position: relative;
    margin-bottom: 5px;
}

.cs-field-group .cs-group h4 {
    font-size: 1em;
}

.cs-field-group .cs-group-content {
    border: 1px solid #e5e5e5;
    background: #fff;
}

.cs-field-group .cs-group-title {
    border: 1px solid #e5e5e5;
    background: #fafafa;
    -moz-transition: border-color 0.15s;
    -o-transition: border-color 0.15s;
    -webkit-transition: border-color 0.15s;
    transition: border-color 0.15s;
}

.cs-field-group .cs-group-title:active, .cs-field-group .cs-group-title:hover, .cs-field-group .cs-group-title:focus {
    border: 1px solid #bbb;
    background: #fafafa;
    outline: none;
}

.cs-field-group .cs-group-title {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 15px;
    min-height: 0;
    font-size: 100%;
}

.cs-field-group .cs-group-content {
    padding: 0;
    border-top: 0;
}

.cs-field-group .widget-placeholder {
    margin-bottom: 8px;
}

.cs-field-group .ui-accordion .cs-group {
    display: block;
}

.cs-field-group .ui-accordion-icons {
    padding-left: 30px;
}

.cs-field-group .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -10px;
    text-indent: 0;
    color: #bbb;
}

.cs-field-group .ui-sortable-helper .cs-group-content {
    display: none !important;
}

.cs-help {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 14px;
    color: #aaa;
}

.cs-field-heading {
    font-size: 1.5em;
    font-weight: bold;
    color: #23282d;
    background-color: #f5f5f5 !important;
}

.cs-field-subheading {
    font-size: 14px;
    font-weight: bold;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #23282d;
    background-color: #f7f7f7 !important;
}

.cs-field-notice {
    padding: 0 !important;
    border: 0 !important;
}

.cs-field-notice + .cs-element {
    border-top: 0;
}

.cs-field-notice .cs-notice {
    font-size: 12px;
    padding: 17px 30px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.cs-field-notice .cs-success {
    color: #3c763d;
    border-color: #d6e9c6;
    background-color: #dff0d8;
}

.cs-field-notice .cs-info {
    color: #31708f;
    border-color: #bce8f1;
    background-color: #d9edf7;
}

.cs-field-notice .cs-warning {
    color: #8a6d3b;
    border-color: #faebcc;
    background-color: #fcf8e3;
}

.cs-field-notice .cs-danger {
    color: #a94442;
    border-color: #ebccd1;
    background-color: #f2dede;
}

.cs-field-icon input {
    display: none;
}

.cs-field-icon .button {
    margin-right: 5px;
}

.cs-field-icon .cs-icon-preview i {
    display: inline-block;
    font-size: 14px;
    width: 30px;
    height: 26px;
    line-height: 26px;
    margin-right: 5px;
    text-align: center;
    vertical-align: top;
    color: #555;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

.cs-field-image input {
    display: none;
}

.cs-field-image .cs-preview {
    display: inline-block;
    position: relative;
    padding: 4px;
    min-width: 44px;
    min-height: 22px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

.cs-field-image .cs-preview img {
    max-height: 90px;
    display: inline-block;
    vertical-align: middle;
}

.cs-field-image .cs-remove {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 22px;
    height: 22px;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #e14d43;
    opacity: 0.8;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cs-field-image .cs-remove:hover {
    opacity: 1;
}

.cs-field-gallery input {
    display: none;
}

.cs-field-gallery ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cs-field-gallery ul li {
    display: inline-block;
    position: relative;
    padding: 4px;
    margin: 0 5px 10px 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

.cs-field-gallery ul li img {
    max-height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.cs-field-gallery .button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.cs-field-sorter .ui-sortable-placeholder {
    height: 20px;
    border: 1px dashed #f1c40f;
    background-color: #fffae4;
}

.cs-field-sorter .cs-modules {
    float: left;
    width: 50%;
}

.cs-field-sorter .cs-enabled {
    margin-right: 15px;
}

.cs-field-sorter .cs-disabled,
.cs-field-sorter .cs-enabled {
    padding: 5px 15px;
    border: 1px dashed #ddd;
    background-color: #fff;
}

.cs-field-sorter .cs-disabled li {
    -moz-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
    opacity: 0.5;
}

.cs-field-sorter .cs-disabled .ui-sortable-helper {
    opacity: 1;
}

.cs-field-sorter h3 {
    font-size: 14px;
    margin: 0 0 15px 0;
}

.cs-field-sorter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 62px;
}

.cs-field-sorter ul li {
    margin: 10px 0;
    padding: 10px 15px;
    cursor: move;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    -moz-transition: border-color 0.15s;
    -o-transition: border-color 0.15s;
    -webkit-transition: border-color 0.15s;
    transition: border-color 0.15s;
}

.cs-field-sorter ul li:hover {
    border-color: #bbb;
}

.cs-taxonomy {
    margin: 0;
}

.cs-taxonomy > .cs-element {
    border-top: 0;
}

.cs-taxonomy > .cs-field-heading {
    font-size: 1.1em;
    padding: 20px !important;
    border: 1px solid #ddd;
}

.cs-taxonomy > .cs-field-subheading {
    font-size: 12px;
    padding: 15px !important;
    border: 1px solid #ddd;
}

.cs-taxonomy > .cs-field-notice .cs-notice {
    padding: 15px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}

.cs-taxonomy-add-fields > .cs-element {
    padding: 8px 0;
    margin: 0 0 10px;
}

.cs-taxonomy-add-fields > .cs-element > .cs-title {
    float: none;
    width: 100%;
    padding: 2px 2px 4px 0;
}

.cs-taxonomy-add-fields > .cs-element > .cs-title h4 {
    font-size: 12px;
    font-weight: normal;
}

.cs-taxonomy-add-fields > .cs-element > .cs-fieldset {
    margin-left: 0;
}

.cs-taxonomy-add-fields > .cs-element > .cs-fieldset > .cs-help {
    right: -5px;
}

.cs-taxonomy-edit-fields > .cs-element {
    padding: 20px 0;
}

.cs-taxonomy-edit-fields > .cs-element > .cs-title {
    width: 225px;
}

.cs-taxonomy-edit-fields > .cs-element > .cs-title h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    display: inline-block;
    vertical-align: middle;
}

.cs-taxonomy-edit-fields > .cs-element > .cs-fieldset {
    margin-left: 225px;
}

.cs-taxonomy-edit-fields > .cs-element > .cs-fieldset > .cs-help {
    top: -5px;
    right: -5px;
}

.cs-taxonomy-edit-fields > .cs-field-notice {
    margin: 20px 0;
}

.cs-taxonomy-edit-fields > .cs-field-subheading,
.cs-taxonomy-edit-fields > .cs-field-heading {
    margin: 20px 0;
    border: 1px solid #ddd;
}

.cs-warning-primary {
    color: #fff !important;
    border-color: #d02c21 #ba281e #ba281e !important;
    background: #e14d43 !important;
    -moz-box-shadow: 0 1px 0 #ba281e !important;
    -webkit-box-shadow: 0 1px 0 #ba281e !important;
    box-shadow: 0 1px 0 #ba281e !important;
    text-shadow: 0 -1px 1px #ba281e, 1px 0 1px #ba281e, 0 1px 1px #ba281e, -1px 0 1px !important;
    text-shadow: 0 -1px 1px #ba281e, 1px 0 1px #ba281e, 0 1px 1px #ba281e, -1px 0 1px #ba281e !important;
}

.cs-warning-primary:hover, .cs-warning-primary:focus {
    border-color: #ba281e !important;
    background: #e35950 !important;
    -moz-box-shadow: 0 1px 0 #ba281e !important;
    -webkit-box-shadow: 0 1px 0 #ba281e !important;
    box-shadow: 0 1px 0 #ba281e !important;
}

.cs-warning-primary:active {
    border-color: #ba281e !important;
    background: #d02c21 !important;
    -moz-box-shadow: inset 0 2px 0 #ba281e !important;
    -webkit-box-shadow: inset 0 2px 0 #ba281e !important;
    box-shadow: inset 0 2px 0 #ba281e !important;
}

.cs-text-desc {
    font-style: italic;
    font-weight: 400;
    margin-top: 10px;
    color: #999;
}

.cs-text-success {
    color: #2b542c;
}

.cs-text-info {
    color: #31708f;
}

.cs-text-warning {
    color: #d02c21;
}

.cs-text-muted {
    color: #aaa;
}

.cs-text-left {
    text-align: left;
}

.cs-text-center {
    text-align: center;
}

.cs-text-right {
    text-align: right;
}

.cs-block-left {
    float: left;
}

.cs-block-right {
    float: right;
}

.cs-text-highlight {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.cs-text-highlight-gray {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f0f0f0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#cs-save-ajax {
    display: none;
    position: relative;
    top: 4px;
    right: 5px;
    font-size: 12px;
    padding: 3px 8px;
    color: #fff;
    background-color: #27ae60;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.cs-tooltip {
    position: absolute;
    z-index: 100103;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.cs-tooltip.in {
    opacity: 1;
}

.cs-tooltip-inner {
    max-width: 200px;
    padding: 6px 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.cs-dialog {
    display: none;
    padding: 0;
}

.cs-dialog .cs-dialog-header {
    width: 100%;
    padding: 16px 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

.cs-dialog .cs-dialog-header select,
.cs-dialog .cs-dialog-header .chosen-container {
    display: block;
    margin: 0 auto;
    width: 250px !important;
}

.cs-dialog .cs-element {
    padding: 15px 30px 15px 15px;
}

.cs-dialog .cs-insert-button {
    text-align: center;
    width: 100%;
    padding: 16px 0;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
}

.cs-dialog .cs-dialog-load {
    min-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}

.cs-dialog .cs-clone-button {
    margin: 10px 0;
    text-align: center;
}

.cs-dialog .cs-shortcode-clone {
    position: relative;
    border-top: 1px dashed #5cb85c;
}

.cs-dialog .cs-shortcode-clone .cs-remove-clone {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
    padding: 5px;
    color: #ed6f6f;
    font-size: 14px;
}

.cs-dialog .cs-shortcode-clone .cs-remove-clone:hover {
    text-decoration: none;
    color: #e74242;
}

.cs-dialog a:active, .cs-dialog a:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cs-dialog h4 {
    font-size: 13px;
}

.cs-dialog h4 small {
    font-style: italic;
    font-weight: 400;
    color: #aaa;
}

#cs-icon-dialog .cs-icon-search {
    width: 250px;
    height: 40px;
    line-height: 40px;
}

#cs-icon-dialog a {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

#cs-icon-dialog a .cs-icon {
    position: relative;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    width: 30px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    vertical-align: top;
    color: #555;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

#cs-icon-dialog a:hover .cs-icon {
    color: #fff;
    border-color: #222;
    background-color: #222;
}

#cs-icon-dialog .cs-icon-loading {
    color: #999;
    text-align: center;
    margin-top: 10px;
}

#cs-icon-dialog .cs-icon-title {
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
}

#cs-icon-dialog .cs-icon-title:first-child {
    margin-top: 0;
    border-top: 0;
}

.cs-shortcode-scrolling,
.cs-icon-scrolling {
    overflow: hidden;
    height: 100%;
}

.cs-shortcode-scrolling .wp-full-overlay,
.cs-icon-scrolling .wp-full-overlay {
    z-index: 1;
}

#side-sortables .cs-content .cs-section-title {
    padding: 12px;
}

#side-sortables .cs-element {
    padding: 12px;
}

#side-sortables .cs-element .cs-title {
    float: none;
    width: 100%;
    margin-bottom: 10px;
}

#side-sortables .cs-element .cs-fieldset {
    margin-left: 0;
}

#side-sortables .cs-field-upload input {
    width: 185px;
}

#side-sortables .cs-field-notice .cs-notice {
    padding: 12px;
}

.widget-content .cs-element {
    position: relative;
    top: -1px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 12px 15px;
}

.widget-content .cs-element:last-child {
    margin-bottom: 15px;
}

.widget-content .cs-element .cs-title {
    float: none;
    width: 100%;
    margin-bottom: 5px;
}

.widget-content .cs-element .cs-fieldset {
    margin-left: 0;
}

.widget-content .cs-field-text input {
    width: 100%;
}

.widget-content .cs-field-upload input {
    width: 330px;
}

.widget-content .cs-field-notice .cs-notice {
    padding: 15px;
}

#customize-controls .customize-control-cs_field {
    position: relative;
    top: -10px;
    margin-bottom: 0;
}

#customize-controls .customize-control-cs_field .chosen-container.chosen-with-drop .chosen-drop {
    position: relative;
}

#customize-controls .cs-element {
    margin-right: -15px;
    margin-left: -15px;
    padding: 12px 15px;
}

#customize-controls .cs-element .cs-title {
    float: none;
    width: 100%;
    margin-bottom: 10px;
}

#customize-controls .cs-element .cs-title h4 {
    font-size: 14px;
    font-weight: 600;
    color: inherit;
}

#customize-controls .cs-element .cs-fieldset {
    margin-left: 0;
}

#customize-controls .widget-content .cs-element {
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px 12px;
}

#customize-controls .cs-field-select select {
    width: 100%;
}

#customize-controls .cs-field-upload input {
    width: 175px;
    margin-right: 5px;
}

#customize-controls .cs-field-heading {
    color: inherit;
    font-size: 14px;
    line-height: 1em;
}

#customize-controls .cs-field-subheading {
    color: inherit;
    font-size: 11px;
}

#customize-controls .cs-text-desc {
    margin-top: 4px;
    font-size: 12px;
}

#customize-controls .cs-field-content,
#customize-controls .cs-field-notice .cs-notice {
    padding: 15px;
}

@media only screen and (max-width: 1200px) {
    .cs-metabox-framework .cs-element .cs-title {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .cs-metabox-framework .cs-element .cs-fieldset {
        margin-left: 0;
    }
}

@media only screen and (max-width: 782px) {
    .cs-framework .cs-header {
        text-align: center;
    }

    .cs-framework .cs-header h1 {
        width: 100%;
        margin-bottom: 10px;
    }

    .cs-framework .cs-header fieldset {
        float: none;
    }

    .cs-framework .cs-expand-all,
    .cs-framework .cs-nav-background,
    .cs-framework .cs-nav {
        display: none;
    }

    .cs-framework .cs-content {
        margin-left: 0;
    }

    .cs-framework .cs-section-title,
    .cs-framework .cs-section {
        display: block !important;
    }

    .cs-framework .cs-element .cs-title {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .cs-framework .cs-element .cs-fieldset {
        margin-left: 0;
    }
}
